doctype html

html
  head
    title BuckBuddy
    meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no")
    include includes/default-styles
    include includes/fb-init.jade
  body
    #root
      div.loading-indicator-splash
        | Loading..      
    script.
      var packageVersion = "#{packageVersion}",
        stripeClientId = "#{stripeClientId}",
        stripeKey = "#{stripeKey}",
        stripeRedirectUrl = "#{stripeRedirectUrl}";        

    script(src="/static/js/bundle.js")
    script(src="https://js.stripe.com/v2/")
