form(action="/charge", method="POST")
  script(
    src="https://checkout.stripe.com/checkout.js", 
    class="stripe-button",
    data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh",
    data-image="/static/img/buck.png",
    data-name="buckbuddy.com",
    data-description="An island for Sarah",
    data-amount="2000",
    data-locale="auto")
